<table class="table">
  <thead>
    <tr>
      <th scope="col">Field</th>
      <th scope="col">Value</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Serial 1</td>
      <td><%= @equipment.serial1 %></td>
    </tr>
    <tr>
      <td>Serial 2</td>
      <td><%= @equipment.serial2 %></td>
    </tr>
    <tr>
      <td>Mac 1</td>
      <td><%= @equipment.mac1 %></td>
    </tr>
    <tr>
      <td>Tech ID</td>
      <td><%= @equipment.tech_id %></td>
    </tr>
    <tr>
      <td>Equipment Type</td>
      <td><%= @equipment.equip_type.description %></td>
    </tr>
    <!-- Addition of text to warn about expiration date. See helper file for time calculation. -->
    <% if warranty_to_expire?(@equipment) %>
      <tr class="table-danger">
          <td>Warranty Expiration</td>
          <td><%= @equipment.warranty_exp.strftime("%b %d, %y") %></td>
      </tr>
      <tr class="form-text">
        <td class="text-danger">Warranty will expire in <%= pluralize(days_to_expire(@equipment),"day","days") %></td>
      <tr>
    <% else %>
      <tr>
        <td>Warranty Expiration</td>
        <td><%= @equipment.warranty_exp.strftime("%b %d, %y") %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<div class="d-flex justify-content-evenly">
  <%= link_to "OK", equipment_index_path, class: "btn btn-primary"   %>
  <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteModal">
    Delete
  </button>
</div>

<!-- Delete Confirmation Modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="deleteModalLabel">Confirm Equipment Deletion</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Are you sure you want to delete this record?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
        <%= button_to "Delete", @equipment, method: :delete, class: "btn btn-danger" %>
      </div>
    </div>
  </div>
</div>