<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Icon Equip App</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">

        <li class="nav-item">
          <%= link_to "Home", root_path, class: "nav-link" %>
        </li>

        <li class="nav-item">
          <%= link_to "Register Issue", root_path, class: "nav-link" %>
        </li>

        <li class="nav-item">
          <%= link_to "Equipment", equipment_index_path, class: "nav-link" %>
        </li>

        <li class="nav-item">
          <%= link_to "Equipment Types", equip_types_path, class: "nav-link" %>
        </li>


        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Issues
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Problem Codes</a></li>
            <li><a class="dropdown-item" href="#">Resolution Codes</a></li>
          </ul>
        </li>
      </ul>
      <%= form_with model: false, url: info_equipment_path(:serial), method: :get, class: "d-flex" do |f| %>
        <%= f.search_field :serial, class: "form-control me-2", placeholder: "Search" %>
        <%= f.submit "Search", class: "btn btn-outline-success" %>
      <% end %>
    </div>
  </div>
</nav>